#introduction {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 95vh;
    text-align: center;
}

#introduction #introduction-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(35%);
    flex-grow: 1;
}

#introduction #introduction-description h3,
#introduction #introduction-description h2 {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;
}

#introduction #introduction-description h3 {
    font-size: 2rem;
    font-weight: 400;
}

#introduction #introduction-description h2 {
    font-size: 4rem;
    font-weight: 500;
    margin-top: 30px;
}

#background-photo {
    position: absolute;
    top: 0;
}

#background-photo img {
    filter: grayscale(1);
    opacity: 0.08;
}

#introduction #show-more-below-arrow {
    position: relative;
    display: flex;
    width: 5vw;
    top: 0;
    opacity: 0.1;
    margin-bottom: -5vh;
    animation: showMoreBelowArrow 4s infinite;
}

@keyframes showMoreBelowArrow {
    50% {
        opacity: 0.3;
        top: 20px;
    }
}


@media (width < 1000px) {
    #introduction #introduction-description {
        transform: translateY(40%);
    }

    #introduction #introduction-description h3 {
        font-size: 1.5rem;
    }

    #introduction #introduction-description h2 {
        font-size: 2.5rem;
    }
}

@media (width < 600px) {
    #introduction #introduction-description {
        transform: translateY(50%);
    }

    #introduction #introduction-description h3 {
        font-size: 1rem;
    }

    #introduction #introduction-description h2 {
        font-size: 1.5rem;
    }

    #introduction #show-more-below-arrow {
        margin-bottom: -1vh;
        width: 10vw;
    }
}
